

<%- include("./components/header.ejs") %>
<body>
	<%- include("./components/navbar.ejs")%>
	
	<img src="/dinn.png" class="img img-thumbnail rounded-circle mx-auto  d-block"style="width:35vw;height:32vw;border:3px solid #00bfff;margin-top:20vh">

	<div class="container mt-3">
		 <p class="lead text-center">Ahmad Fahruddin Salim</p>
		 <h3 class="my-2 text-center">Software Engineer</h3>
		 <p class="mt-5 text-center" style="font-size:8px">from BABUSSALAM Vocational High School .</p>
	</div>










</body>
</html>


