<%- include('./components/header.ejs')%>

<body>
	<%- include("./components/navbar.ejs")%>
	
	<div class="jumbotron bg-transparent text-center">

		<img src="storytelling.jpg" class="img-thumbnail rounded mx-auto d-block border  border-white" alt="Gambar buku">
		<p class="lead text-center my-5">Di dalam halaman ini anda dapat menyimpan biodata anda, mulai dari nama, umur, alamat dan masih banyak lagi</p>
<a href="/home/user" class="btn btn-lg  btn-primary">Masuk<a>
	</div>
	<p class="text-center border-bottom">
	&copy; udinesia325	

	</p>



</body>
</html>


